<button nz-button nzType="primary" class="but" nzShape="circle" (click)="showModal()"><i nz-icon nzType="plus" nzTheme="outline"></i></button>
<button nz-button nzType="primary" class="but" nzDanger nzShape="circle" nz-popconfirm nzPopconfirmTitle="Are you sure delete this task?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()"><i nz-icon nzType="minus" nzTheme="outline"></i></button>
<button nz-button nzType="default" class="but" (click)="showModal()"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
<br /><br />
<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="goodsType" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzPageSize]="6">
    <thead>
        <tr>
            <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
            <th>序号</th>
            <th nzCustomFilter>
                分类名称
                <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of rowSelectionTable.data;let i = index">
            <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            <td>{{ i }}</td>
            <td>{{ data.typeName }}</td>
        </tr>
    </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Search
        </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
    </div>
</nz-dropdown-menu>

<nz-modal [(nzVisible)]="isVisible" nzTitle="新增物品分类" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <div>
            <nz-input-group nzAddOnBefore="名称">
                <input type="text" nz-input [(ngModel)]="goodstype.typeName" />
            </nz-input-group>
        </div>
        <br />
        <br />
    </ng-container>
</nz-modal>