<button nz-button nzType="primary" (click)="open()"><i nz-icon nzType="plus" nzTheme="outline"></i>Add</button>
<button nz-button nzType="primary" nzDanger nz-popconfirm nzPopconfirmTitle="是否确定要删除所选物品?"
  (nzOnConfirm)="deleteGoods()" (nzOnCancel)="cancel()" nzPopconfirmPlacement="bottom" nz-button><i nz-icon nzType="minus" nzTheme="outline"></i>Delete</button>
<button nz-button nzType="default" (click)="showModalMiddle()"><i nz-icon nzType="search"></i>Search</button>
<button nz-button nzType="dashed" (click)="downLoadExcel()" style="color: green;"><i nz-icon nzType="file-excel" nzTheme="outline"></i>导出 Excel</button>
<nz-modal
  nzWrapClassName="vertical-center-modal"
  [(nzVisible)]="isVisibleMiddle"
  nzTitle="Vertically centered modal dialog"
  (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle()"
>
</nz-modal>
<br /><br />
<nz-table #columnTable nzBordered nzPageSize="6" [nzData]="goodsList" 
  [nzScroll]="{ x: '1500px'  }" nzTableLayout="fixed"  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
    <tr>
      <th
      nzLeft
      nzWidth="50px"
      [nzSelections]="listOfSelection"
      [(nzChecked)]="checked"
      [nzIndeterminate]="indeterminate"
      (nzCheckedChange)="onAllChecked($event)"
    ></th>
      <th nzWidth="80px">分享码</th>
      <th nzLeft>编号</th>
      <th nzLeft>名称</th>
      <th>位置</th>
      <th>权限</th>
      <th>放置时间</th>
      <th>存放时间</th>
      <th>分类</th>
      <th nzRight>操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of columnTable.data ,let i = index">
      <tr>
        <td nzLeft [nzChecked]="setOfCheckedId.has(item.goodsId)" (nzCheckedChange)="onItemChecked(item.goodsId, $event)"></td>
        <td [nzExpand]="expandSet.has(item.goodsId)" (nzExpandChange)="onExpandChange(item.goodsId, $event)"></td>
        <td nzLeft>{{ i }}</td>
        <td nzLeft>{{ item.goodsName }}</td>
        <td>{{ item.goodsPlace }}</td>
        <td>{{ item.goodsPublic }}</td>
        <td>{{ item.placeTime }}</td>
        <td>{{ item.saveTimes }}</td>
        <td>{{ item.typeName }}</td>
        <td nzRight>
          <a (click)="open()">详情</a>
        </td>
      </tr>
      <tr [nzExpand]="expandSet.has(item.goodsId)">
        <span>分享码：{{ item.goodsCode }}</span>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible"
  nzTitle="存放 物品"  (nzOnClose)="close()">
  <form nz-form #fo="ngForm" *nzDrawerContent>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>名称</nz-form-label>
          <nz-form-control nzHasFeedback >
            <input nz-input placeholder="please enter goods name" [(ngModel)]="submitgoods.goodsName" name="goodsName" required maxlength="32"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>
            <a nz-dropdown [nzDropdownMenu]="menu1">
              标签
              <i nz-icon nzType="down"></i>
            </a>
            <nz-dropdown-menu #menu1="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item nzDanger *ngFor="let item of goodsType" (click)="editGoodsType(item)">{{item}}</li>
              </ul>
            </nz-dropdown-menu>
          </nz-form-label>
          <nz-form-control nzHasFeedback >
            <input nz-input placeholder="please enter goods sign" [(ngModel)]="submitgoods.goodsType" name="editgoodsType" required maxlength="32"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>
              <a nz-dropdown [nzDropdownMenu]="menu2">
                位置
                <i nz-icon nzType="down"></i>
              </a>
              <nz-dropdown-menu #menu2="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item nzDanger *ngFor="let item of goodsPlace" (click)="editGoodsPlace(item)">{{item}}</li>
                </ul>
              </nz-dropdown-menu>
            </nz-form-label>
            <nz-form-control nzHasFeedback >
              <input nz-input placeholder="please enter goods Where" [(ngModel)]="submitgoods.goodsPlace" name="editgoodsPlace" required maxlength="32"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>存放时间</nz-form-label>
          <nz-form-control nzHasFeedback >
            <nz-range-picker [(ngModel)]="time" name="time" required ></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <label nz-checkbox [(ngModel)]="submitgoods.goodsPublic" name="goodsPublic">
            <span>是否 公开</span>
          </label>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>描述</nz-form-label>
          <nz-form-control>
            <textarea nz-input placeholder="please enter goods description, only 255 Byte."
              [nzAutosize]="{ minRows: 4, maxRows: 4 }" [(ngModel)]="submitgoods.goodsDescribe" name="goodsDescribe"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-carousel nzAutoPlay>
      <div nz-carousel-content *ngFor="let index of array">
        <img src="{{index}}" alt="">
      </div>
    </nz-carousel>

    <br />
    <div style="margin-left: 20%">
      <button nz-button style="margin-right: 8%;" (click)="close()">取 消</button>
      <button nz-button nzType="primary" [disabled]="!fo.valid" (click)="submitGoods()">提 交</button>
    </div>

</form>
</nz-drawer>