<button nz-button nzType="primary" (click)="open()">Add</button>
<button nz-button nzType="primary" nzDanger nz-popconfirm nzPopconfirmTitle="Are you sure delete this task?"
  (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()" nzPopconfirmPlacement="bottom" nz-button>Delete</button>
<br /><br />
<nz-table #columnTable [nzBordered]="true" [nzOuterBordered]="true" nzPageSize="6" [nzData]="goodsList"
  [nzScroll]="{ x: '1500px'  }" nzTableLayout="fixed"  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
    <tr>
      <th
      nzLeft
      nzWidth="50px"
      [nzSelections]="listOfSelection"
      [(nzChecked)]="checked"
      [nzIndeterminate]="indeterminate"
      (nzCheckedChange)="onAllChecked($event)"
    ></th>
      <th>分享码</th>
      <th nzLeft>编号</th>
      <th nzLeft>名称</th>
      <th>位置</th>
      <th>权限</th>
      <th>放置时间</th>
      <th>存放时间</th>
      <th>分类</th>
      <th nzRight>操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of columnTable.data ,let i = index">
      <tr>
        <td nzLeft [nzChecked]="setOfCheckedId.has(item.id)" (nzCheckedChange)="onItemChecked(item.id, $event)"></td>
        <td [nzExpand]="expandSet.has(item.id)" (nzExpandChange)="onExpandChange(item.id, $event)"></td>
        <td nzLeft>{{ i }}</td>
        <td nzLeft>{{ item.goodsName }}</td>
        <td>{{ item.goodsPlace }}</td>
        <td>{{ item.goodsPublic }}</td>
        <td>{{ item.placeTime }}</td>
        <td>{{ item.saveTimes }}</td>
        <td>{{ item.typeName }}</td>
        <td nzRight>
          <a (click)="open()">详情</a>
        </td>
      </tr>
      <tr [nzExpand]="expandSet.has(item.id)">
        <span>分享码：{{ item.goodsCode }}</span>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible"
  nzTitle="新建 物品" [nzFooter]="footerTpl" (nzOnClose)="close()">
  <form nz-form *nzDrawerContent>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>名称</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="please enter goods name" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>
            <a nz-dropdown [nzDropdownMenu]="menu">
              标签
              <i nz-icon nzType="down"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item>1st menu item</li>
                <li nz-menu-item>2nd menu item</li>
                <li nz-menu-item>3rd menu item</li>
                <li nz-menu-item nzDanger>4th danger item</li>
              </ul>
            </nz-dropdown-menu>
          </nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="please enter goods sign" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>
              <a nz-dropdown [nzDropdownMenu]="menu">
                位置
                <i nz-icon nzType="down"></i>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>1st menu item</li>
                  <li nz-menu-item>2nd menu item</li>
                  <li nz-menu-item>3rd menu item</li>
                  <li nz-menu-item nzDanger>4th danger item</li>
                </ul>
              </nz-dropdown-menu>
            </nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="please enter goods Where" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>存放时间</nz-form-label>
          <nz-form-control>
            <nz-range-picker></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <label nz-checkbox [(ngModel)]="aabb" name="goodsPublic">
            <span>是否 公开</span>
          </label>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>描述</nz-form-label>
          <nz-form-control>
            <textarea nz-input placeholder="please enter goods description, only 255 Byte."
              [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-carousel nzAutoPlay>
      <div nz-carousel-content *ngFor="let index of array">
        <img src="{{index}}" alt="">
      </div>
    </nz-carousel>
  </form>
  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="close()">取 消</button>
      <button nz-button nzType="primary" (click)="close()">提 交</button>
    </div>
  </ng-template>
</nz-drawer>