<button nz-button nzType="primary" (click)="open()">Add</button>
<button nz-button nzType="primary" nzDanger nz-popconfirm nzPopconfirmTitle="Are you sure delete this task?"
  (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()" nzPopconfirmPlacement="bottom" nz-button>Delete</button>
<br /><br />
<nz-table #columnTable [nzBordered]="true" [nzOuterBordered]="true" nzPageSize="6" [nzData]="goodsList"
  [nzScroll]="{ x: '1500px', y: '343.2px'  }" nzTableLayout="fixed"  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
    <tr>
      <th
      nzLeft
      nzWidth="50px"
      [nzSelections]="listOfSelection"
      [(nzChecked)]="checked"
      [nzIndeterminate]="indeterminate"
      (nzCheckedChange)="onAllChecked($event)"
    ></th>
      <th>分享码</th>
      <th nzLeft>编号</th>
      <th nzLeft>名称</th>
      <th>位置</th>
      <th>权限</th>
      <th>放置时间</th>
      <th>存放时间</th>
      <th>分类</th>
      <th nzRight>操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of columnTable.data ,let i = index">
      <tr>
        <td nzLeft [nzChecked]="setOfCheckedId.has(item.id)" (nzCheckedChange)="onItemChecked(item.id, $event)"></td>
        <td [nzExpand]="expandSet.has(item.id)" (nzExpandChange)="onExpandChange(item.id, $event)"></td>
        <td nzLeft>{{ i }}</td>
        <td nzLeft>{{ item.goodsName }}</td>
        <td>{{ item.goodsPlace }}</td>
        <td>{{ item.goodsPublic }}</td>
        <td>{{ item.placeTime }}</td>
        <td>{{ item.saveTimes }}</td>
        <td>{{ item.typeName }}</td>
        <td nzRight>
          <a (click)="open()">详情</a>
        </td>
      </tr>
      <tr [nzExpand]="expandSet.has(item.id)">
        <span>分享码：{{ item.goodsCode }}</span>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible"
  nzTitle="Create" [nzFooter]="footerTpl" (nzOnClose)="close()">
  <form nz-form *nzDrawerContent>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Name</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="please enter user name" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Url</nz-form-label>
          <nz-form-control>
            <nz-input-group nzAddOnBefore="http://" nzAddOnAfter=".com">
              <input type="text" nz-input placeholder="please enter url" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Owner</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="Please select an owner"></nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Type</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="Please choose the type"></nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Approver</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="Please choose the approver"></nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>DateTime</nz-form-label>
          <nz-form-control>
            <nz-range-picker></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Description</nz-form-label>
          <nz-form-control>
            <textarea nz-input placeholder="please enter url description"
              [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
      <button nz-button nzType="primary" (click)="close()">Submit</button>
    </div>
  </ng-template>
</nz-drawer>