<nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed" style="height: 100%;" nzPageSize="7"
  nzPaginationPosition="bottom" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>放置时间</th>
      <th>截止日期</th>
      <th>数量</th>
      <th nzRight>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data,let i = index"  nz-tooltip nzTooltipTitle="位置：{{data.goodsPlace}}">
      <ng-container *ngIf="!editCache[i].edit; else editTemplate">
        <td>{{i}}</td>
        <td>{{ data.goodsName }}</td>
        <td>{{ data.saveTimes }}</td>
        <td>{{ data.placeTime }}</td>
        <td>{{ data.goodsNum }}</td>
        <td><a (click)="startEdit(i)">延期</a></td>
      </ng-container>
      <ng-template #editTemplate>
        <td></td>
        <td><input [disabled]="true" nz-input [(ngModel)]="editCache[i].data.goodsName" /></td>
        <td><input [disabled]="true" nz-input [(ngModel)]="editCache[i].data.saveTimes" /></td>
        <td>
          <nz-date-picker [(ngModel)]="editCache[i].data.placeTime" ngDefaultControl name="placeTime">
          </nz-date-picker>
        </td>
        <td><input [disabled]="true" nz-input [(ngModel)]="editCache[i].data.goodsNum" /></td>
        <td>
          <a (click)="saveEdit(data.goodsId,i,template)" class="save">Save</a>
          <a nz-popconfirm nzTitle="Sure to cancel?" (click)="cancelEdit(i)">Cancel</a>
        </td>
      </ng-template>
    </tr>
  </tbody>
</nz-table>

<ng-template #template>
    <div class="ant-notification-notice-content">
      <div class="ant-notification-notice-with-icon">
        <span class="ant-notification-notice-icon"><i nz-icon nzType="smile" style="color: rgb(16, 142, 233);"></i></span>
        <div class="ant-notification-notice-message">延期成功啦！！！.</div>
        <div class="ant-notification-notice-description">
           希望你以后能够定时来查看自己的物品呦. 养成合理收纳的好习惯.
        </div>
      </div>
    </div>
</ng-template>
