<div style="background:white;padding:30px;">
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
            <nz-card nzHoverable style="width:90%" [nzCover]="coverTemplate1" (click)="open()">
                <nz-card-meta nzTitle="管理员 编辑消息" nzDescription="http://localhost:4200/welcome"></nz-card-meta>
            </nz-card>
            <ng-template #coverTemplate1>
                <img alt="example" src="../../../../assets/images/bianjinews.gif" />
            </ng-template>
        </div>

        <div nz-col [nzSpan]="8">
            <nz-card nzHoverable style="width:90%" [nzCover]="coverTemplate2" (click)="open('http://localhost:8088/xxl-job-admin/')">
                <nz-card-meta nzTitle="xxl-job 设置推送时间" nzDescription="http://localhost:8088/xxl-job-admin/"></nz-card-meta>
            </nz-card>
            <ng-template #coverTemplate2>
                <img alt="example" src="../../../../assets/images/hudei.gif" />
            </ng-template>
        </div>

        <div nz-col [nzSpan]="8">
            <nz-card nzHoverable style="width:90%" [nzCover]="coverTemplate3" (click)="open('http://localhost:8001/applications')">
                <nz-card-meta nzTitle="Spring Admin" nzDescription="http://localhost:8001/applications"></nz-card-meta>
            </nz-card>
            <ng-template #coverTemplate3>
                <img alt="example" src="../../../../assets/images/mianhua.gif" />
            </ng-template>
        </div>
    </div>
</div>

<nz-drawer [nzKeyboard] [nzPlacement]="placement" [nzFooter]="footerTpl" [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="编辑 消息" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
        <form nz-form [formGroup]="form" nzLayout="vertical">
            <nz-form-item>
                <nz-form-control>
                    <nz-textarea-count [nzMaxCharacterCount]="500">
                        <textarea rows="4" formControlName="comment" nz-input [(ngModel)]="Wechat"></textarea>
                    </nz-textarea-count>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
            <button nz-button nzType="primary" (click)="close('send')">Submit</button>
        </div>
    </ng-template>
</nz-drawer>