<button nz-button nzType="primary" (click)="open()"><i nz-icon nzType="plus" nzTheme="outline"></i>Add</button>
<nz-input-group nzAddOnBefore="好友名称：" nzSearch nzSize="default" [nzAddOnAfter]="suffixButton" style="display: inline-block;width: 40%;margin-left: 5%;">
    <input type="text" nz-input placeholder="input search text" />
</nz-input-group>

<ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="default" nzSearch><i nz-icon nzType="search"></i></button>
</ng-template>
<br />
<br />
<nz-pagination [nzPageIndex]="1" [nzTotal]="50" nzSimple style="margin-bottom: 10px;">
</nz-pagination>
<nz-collapse [nzBordered]="false" [nzAccordion]="true">
    <nz-collapse-panel #collaspsepanel *ngFor="let panel of friendsList" [nzHeader]="editName" (nzActiveChange)="Hello($event,panel.userId)">
        <p style="margin:0;">
            {{userDescribe}}
        </p>
        <nz-descriptions nzTitle="Friend information" nzBordered [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
            <nz-descriptions-item nzTitle="名称">
                {{panel.userName}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="性别">{{panel.userSex}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="电话">{{panel.userCall}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Email">{{panel.userEmail}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="生日">{{panel.userBirth | date:"yy/dd/MM" }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="头像">
                <img [src]=userPhoto alt="头像加载失败" style="zoom: 0.5;">
            </nz-descriptions-item>
        </nz-descriptions>
        <ng-template #editName>
            <input nz-input placeholder="borderless" nzBorderless style="width: 10%;" [(ngModel)]="panel.childName" />
            <i nz-icon nzType="edit" nzTheme="outline" style="display: inline-block;"></i>
            <i nz-icon nzType="close" nzTheme="outline" style="float:right"></i>
        </ng-template>
    </nz-collapse-panel>
</nz-collapse>

<nz-drawer [nzClosable]="false" nzWidth="40%" [nzVisible]="visible" nzPlacement="right" nzTitle="添加 好友" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="input search text" [(ngModel)]="userName" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="findUser()"><i nz-icon nzType="search"></i></button>
        </ng-template>
        <br />
        <br />
        <nz-card *ngIf="show" nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="个性签名" [nzDescription]=userDescribe></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
            <img [src]=userPhoto alt="头像加载失败" style="zoom: 0.5;">
        </ng-template>
        <br />
        <br />
        <nz-input-group *ngIf="show" nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="好友备注" [(ngModel)]="childNa"/>
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" (click)="addFriends()" nzSearch>添加</button>
          </ng-template>
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
    </ng-container>
</nz-drawer>