<button nz-button nzType="primary" (click)="showModal()"><i nz-icon nzType="plus" nzTheme="outline"></i>Add</button>
<br /><br />
<nz-table #nzTable [nzData]="managers" nzTableLayout="fixed" nzPageSize="7">
    <thead>
        <tr>
            <th>id</th>
            <th nzCustomFilter>
                姓名
                <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
            </th>
            <th>联系方式</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.managerName }}</td>
            <td>{{ data.managerCall }}</td>
            <td>
                <nz-divider nzType="vertical"></nz-divider>
                <a nz-popconfirm nzPopconfirmTitle="确定要删除 系统管理员吗?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(data.id)" (nzOnCancel)="cancel()">Delete</a
    >
            </td>
        </tr>
    </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="查找 管理员" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search(searchValue)" class="search-button">
          Search
        </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
    </div>
</nz-dropdown-menu>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Greate Manager" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <nz-input-group [nzSuffix]="suffixIconSearch1">
            <input type="text" nz-input placeholder="管理员 用户名" [(ngModel)]="manager.managerName" />
        </nz-input-group>
        <ng-template #suffixIconSearch1>
            <i nz-icon nzType="skin"></i>
        </ng-template>
        <br />
        <br />
        <nz-input-group [nzSuffix]="suffixIconSearch2">
            <input type="text" nz-input placeholder="管理员 联系方式" [(ngModel)]="manager.managerCall" />
        </nz-input-group>
        <ng-template #suffixIconSearch2>
            <i nz-icon nzType="whats-app"></i>
        </ng-template>
        <br />
        <br />
        <nz-input-group [nzSuffix]="suffixIconSearch3">
            <input type="text" nz-input placeholder="管理员 密码" [(ngModel)]="manager.passWord" />
        </nz-input-group>
        <ng-template #suffixIconSearch3>
            <i nz-icon nzType="key"></i>
        </ng-template>
    </ng-container>
</nz-modal>