[nz-form] {
  margin:auto;//使其垂直居中
  width: 40%;
  margin-top:5%;
  display: inline-block;
  margin-left: 3%;

}

button {
  margin-left: 8px;
}

img{
  width: 25%;
  height: 60%;
  margin-top: -25%;
}
.right_cattle{
  margin-left: -5%;
}
.left_cattle{
margin-left: 5%;
}