<img src="../../../../assets/images/it.gif" alt="" style="width: 200px;height: 200px;">
<article nz-typography>
    <h1 nz-typography>❥ take it ❥</h1>
    <p nz-typography>
        “对不起，我忘了。”这句话在现代生活中，像口头禅一样出现得越来越频繁。老年人的记忆力随着身体各器官的老化以缓慢的速度减退，这是自然规律，也是正常现象。如果记忆力下降过快，与年龄增长不相吻合，或者是年轻人压力过大长期抽烟喝酒熬夜经常出现丢三落四的现象，再或者对长期闲置物品的随意放置会导致物品的找不到，造成“假丢失”的情况，那就会对我们的日常工作和生活产生非常多的困扰，同时资源上也会造成浪费。
    </p>
    <p nz-typography>
        实现对物品收纳地点记录的管理，帮助年轻人，缩短老年人解决找不着物品的时间，提高时间利用率。提高生活舒适度，减少家庭矛盾。<mark>75%</mark>的人不知收纳为何物，<mark>91%</mark>的人患有囤积症晚期对于很多中国人而言，“断舍离”理念并不熟悉，所以该系统可以帮助它们养成这样一种生活理念。
        <span nz-typography><strong
          >帮助人们养成这样一种生活理念，舍弃不适合你的东西，包括物质和情绪等，找到你真正需要的，适合的，喜欢的东西因为舍弃有更多时间和精力，投入在“喜欢”上。</strong
        ></span
      >.
    </p>
    <h2 nz-typography>我们 可以 为您 做什么?</h2>
    <p nz-typography>
      目的主要是为了解决生活中人们对日用品随意摆放导致使用时找不到，异或者在家人想查找一些物品时只有你知道物品放置地点，但与你沟通不上， (<span nz-typography
        ><code>或者</code></span
      >
      沟通时 <span nz-typography><code>表达</code></span
      >), 不准确，这样就可以使用该系统，快速定位到所寻找物品。也可以帮助当代年轻人养成个人物品整齐收纳的良好习惯，同时也适用于办公室仓库等场景。
    </p>
    <div nz-typography>
      <ul>
        <li>
          <a href="/docs/spec/proximity">Principles</a>
        </li>
        <li>
          <a href="/docs/pattern/navigation">Patterns</a>
        </li>
        <li>
          <a href="/docs/resource/download">Resource Download</a>
        </li>
      </ul>
    </div>
    <p nz-typography>
      Press <span nz-typography><kbd>Esc</kbd></span> to exist...
    </p>
</article>
<nz-divider></nz-divider>
<article nz-typography>
    <h1 nz-typography>Introduce</h1>
    <p nz-typography>
        "Sorry, I forgot." This sentence appears more and more frequently in modern life like a mantra. It is a natural law and a normal phenomenon that the memory of the elderly declines slowly with the aging of various organs of the body. If the memory declines
        too fast, does not match with the age growth, or the young people are under too much pressure, long-term smoking, drinking, staying up late often leads to the phenomenon of forgetting, or the random placement of long-term idle items will lead
        to the goods can not be found, resulting in the "false loss" situation, it will have a lot of trouble to our daily work and life, at the same time, resources will also increase Waste.
    </p>
    <p nz-typography>
        Realize the management of goods storage location records, help the young people, shorten the time for the elderly to solve the problem of not finding goods, and improve the utilization rate of time. Improve life comfort and reduce family conflicts. 75%
        of the people don't know what to store, 91% suffer from hoarding. For many Chinese people, the concept of "separation" is not familiar, so the system can help them develop such a life concept.
    </p>
    <h2 nz-typography>
        联系 我们
    </h2>
    <p nz-typography>
        作为Take it 的用户，您可以通过以下渠道联系到我们（<span nz-typography><code>QQ</code></span> 和
        <span nz-typography><code>微信</code></span
      >），来帮助或解答您在物品管理收纳系统上出现的问题。
    </p>
    <div nz-typography>
      <ul>
        <li>
          <a href="/docs/spec/proximity">QQ：2276372013</a>
        </li>
        <li>
          <a href="/docs/pattern/navigation">微信：13920185631</a>
        </li>
        <li>
          <a href="/docs/resource/download">商业合作：同步微信（注明来意）。</a>
        </li>
      </ul>
    </div>
    <p nz-typography>
      按 <span nz-typography><kbd>Esc</kbd></span> 键退出阅读……
    </p>
</article>