<nz-input-group nzAddOnBefore="分享码：" nzSearch nzSize="large" [nzAddOnAfter]="suffixButton" style="width: 40%;">
    <input type="text" nz-input placeholder="input search text" />
</nz-input-group>
<ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" nzSearch><i nz-icon nzType="search"></i></button>
</ng-template>
<nz-input-group nzAddOnBefore="好友名称：" nzSearch nzSize="large" [nzAddOnAfter]="suffixButton" style="display: inline-block;width: 40%;margin-left: 10%;">
    <input type="text" nz-input placeholder="input search text" />
</nz-input-group>
<ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" nzSearch><i nz-icon nzType="search"></i></button>
</ng-template>
<br />
<br />
<nz-pagination [nzPageIndex]="1" [nzTotal]="50" nzSimple style="margin-bottom: 10px;"></nz-pagination>
<nz-collapse [nzBordered]="false">
    <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active">
        <p>{{ panel.name }} content</p>
        <nz-descriptions nzTitle="User Info" nzBordered>
            <nz-descriptions-item nzTitle="Product">Cloud Database</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Billing Mode">Prepaid</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Order Time">
                2018-04-24 18:00:00
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Usage Time" [nzSpan]="2">
                2018-04-24 18:00:00 To 2019-04-24 18:00:00
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Status" [nzSpan]="3">
                <nz-badge nzStatus="processing" nzText="Running"></nz-badge>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Negotiated Amount">$80.00</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Discount">$20.00</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Official Receipts">$60.00</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Config Info">
                Data disk type: MongoDB
                <br /> Database version: 3.4
                <br /> Package: dds.mongo.mid
                <br /> Storage space: 10 GB
                <br /> Replication_factor:3
                <br /> Region: East China 1<br />
            </nz-descriptions-item>
        </nz-descriptions>
    </nz-collapse-panel>
</nz-collapse>